/Blockiness.class
/Configuration$Features.class
/Configuration$Letters.class
/Configuration$ReplacementMatrix.class
/Configuration$Structure.class
/Configuration.class
/Consistancy.class
/Facet.class
/FacetAlignment.class
/GapCoil.class
/GapDensity.class
/PercentIdentity.class
/Support.class
